.red {
background-color: red;
}
.gray {
background-color: #333333;
    color: white;
}
.light-gray {
background-color: #DDDDDD;
}

.sticky {
    background-color: #FFFFFF;
    border-bottom-color: #333333;
    border-bottom: solid;
    border-bottom-width: thin;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-size: 30;
    font-weight: 200;
    color: #000000;
}

.top-bar {
    background-color: white;
}
    .top-bar-section li:not(.has-form) a:not(.button) {
      background-color: white;
      color: #333333;
    }

    #menu {
        color: #999999;
    }
    .top-bar.expanded .title-area {
       background-color: transparent; 
    }
    .top-bar.expanded .top-bar-section ul li > a {
        border: none;
    }
    
#contact {
    color:white;
}

.row.fw {
  max-width: 100%;
}

.dark {
    background-color: #333333;
    color: white;
}

h3 {
    color: inherit;
}

#resume {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 15px;
    height: 40px;
    
}


.button.radius {
    background-color: #220000;
    padding-left:20px;
    padding-right:20px;
    margin-right: 5px;
}